.pagging{
    &__container{
        display: flex;
        align-items: center;
        gap: 1rem;

        p{
            font-weight: 600;
            span{
                color: $text-primary;
            }
        }
    }

    &__menu{
        display: flex;
        gap: 1rem;
        svg{
            font-size: 1.5rem;
        }
        svg:hover{
            cursor: pointer;
            color: $primary-color;
        }
    }
}