.detail-surah-page{
    &__content{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        
        .card{
            margin: 2rem 0 2rem 0;
        }

        .pagging{
            display: flex;
            align-self: flex-end;
            margin-bottom: 2rem;
        }

    }
}