// background color
$primary-color: #682CBB;
$primary-alt-color: #2e0d8a;
$secondary-color: #fd9463;
$secondary-alt-color: #e6704a;
$surah-menu-color: #efe3ff;
// text
$text-white: #ffffff;
$text-black: #ffffff;
$text-grey: #CBC5DE;
$text-primary: #682CBB;
$text-primary-alt: #2e0d8a;
// boder
$border-primary-color: #ffffff;
$border-secondary-color: #000000;
// dark mode
$darkmode-bg: #1A1A40;

@mixin colormode($bg-color, $text-color){
    background-color: $bg-color;
    color: $text-color;
}